<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="TouchSocket" version="2.0.0-beta.127" targetFramework="net48" />
  <package id="TouchSocket.Core" version="2.0.0-beta.127" targetFramework="net48" />
  <package id="TouchSocket.Dmtp" version="2.0.0-beta.127" targetFramework="net48" />
  <package id="TouchSocket.Http" version="2.0.0-beta.127" targetFramework="net48" />
  <package id="TouchSocket.JsonRpc" version="2.0.0-beta.127" targetFramework="net48" />
  <package id="TouchSocket.Rpc" version="2.0.0-beta.127" targetFramework="net48" />
  <package id="TouchSocket.WebApi" version="2.0.0-beta.127" targetFramework="net48" />
  <package id="TouchSocket.XmlRpc" version="2.0.0-beta.127" targetFramework="net48" />
  <package id="TouchSocketPro" version="2.0.0-beta.127" targetFramework="net48" />
  <package id="TouchSocketPro.Dmtp" version="2.0.0-beta.127" targetFramework="net48" />
</packages>