.label {
  display: inline-flex;
  align-items: center;
  color: #fff;
  padding: 4px 12px;
  font-size: 12px;
  color: #fff;
  border-radius: 16px;
  line-height: normal;
  margin-left: -3px;
  vertical-align: middle;
  margin-right: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.icon {
  margin-right: 4px;
}